*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-bodypart{
    display: flex;
    flex-direction: row;
    margin: 0px 40px;
    background-color: white;
    transition: all 0.2s ease-in-out;
}
.main-bodypart:hover{
    transform: scale(1.1);
}
.card{
    text-align: center;
    padding: 20px 0px;
}

.card img{
    width: 120px;
    height: 120px;
    padding: 10px;
    
}

.card h4{
    font-size: 20px;
    text-transform: capitalize;
}


